/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &trans &kp QUOT &kp COMMA &kp DOT &kp P &kp Y    &kp F &kp G &kp C &kp R &kp L &trans
                &trans &mt LSFT A &kp O &lt 5 E &lt 1 U &kp I    &kp D &kp H &lt 5 T &kp N &mt RSFT S &trans
                &trans &kp SCLN &kp Q &kp J &kp K &kp X          &kp B &kp M &kp W &kp V &kp Z &trans
                &mt LCTL ESC &kp LGUI &lt 3 TAB                  &lt 2 SPC &lt 4 ENT &kp BSPC
            >;
        };
    //    nav_layer {
    //        bindings = <
    //            &trans &trans &trans &trans &trans &trans             &trans &trans &kp UP &trans &trans &trans
    //            &trans &kp LGUI &kp LALT &kp LSHFT &trans &trans       &trans &kp LEFT &kp DOWN &kp RGHT &kp MINS &trans
    //            &trans &trans &trans &trans &trans &trans             &trans &kp I &trans &kp EQL &kp SLSH &trans
    //            &none &kp LCTRL &none                                 &none &kp RET &kp DEL
    //        >;
    //    };
    //    num_layer {
    //        bindings = <
    //            &trans &trans &trans &trans &kp PEQL &trans           &trans &kp N1 &kp N2 &kp N3 &trans &trans
    //            &trans &kp PPLS &kp PMNS &kp PAST &kp PSLS &trans      &trans &kp N4 &kp N5 &kp N6 &kp DOT &trans
    //            &trans &trans &trans &trans &trans &trans             &trans &kp N7 &kp N8 &kp N9 &kp N0 &trans
    //            &none &none &mo 5                                      &none &none &none
    //        >;
    //    };
    //    symb_layer {
    //        bindings = <
    //            &trans &trans &kp AT &kp HASH &kp DLLR &trans         &trans &kp LPAR &kp RPAR &kp ASTRK &trans &trans
    //            &trans &kp PIPE &kp EXCL &kp PRCNT &kp CARET &trans   &trans &kp LBKT &kp RBKT &kp MINUS &trans &trans
    //            &trans &kp PEQL &kp RABK &kp AMPS &kp GRAVE &trans    &trans &kp LBRC &kp RBRC &trans &kp BSLH &trans
    //            &none &none &none                                      &mo 5 &none &none
    //        >;
    //    };
    //    config_layer {
    //        bindings = <
    //            &trans &trans &rgb 0 &trans &trans &trans             &trans &trans &kp VOL_U &trans &trans &trans
    //            &trans &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans &trans &kp BRMD &kp VOL_D &kp BRMU &trans &trans
    //            &trans &bt BT_SEL 3 &bt BT_SEL 4 &trans &trans &trans &trans &trans &trans &trans &trans &trans
    //            &none &none &none                                      &none &none &none
    //        >;
    //    };
    //    raise_layer {
    //        bindings = <
    //            &trans &trans &trans &trans &kp Y &trans               &trans &kp F &trans &trans &trans &trans
    //            &trans &kp QUOT &kp LSFT &trans &kp I &trans           &trans &kp D &trans &trans &kp L &trans
    //            &trans &trans &trans &trans &kp X &trans               &trans &kp B &trans &trans &trans &trans
    //            &kp LCTRL ESC &kp LGUI &none                           &none &kp LALT &none
    //        >;
    //    };
    };
};
